<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <a [routerLink]="['/productlist']"> 
                        <img class="img-fluid mx-auto" src="../assets/images/e-com-removebg-preview.png" alt="logo" />
                    </a>
                    
                    <div class="searchbox">
                        <input type="text" class="form-control" style="width:500px;" placeholder="search" />
                    </div>
                    <div class="cart">
                        <img src="../assets/images/shopping-cart-3d-render-icon_460848-6902.jpg" alt="cartlogo" class="img-fluid mx-auto"/>
                    </div>
                    <div class="profile">
                        <a [routerLink]="['/profile']"><img src="../assets/images/profile.png" alt="profile" class="img-fluid mx-auto"/></a>
                        
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>